$SIZE: 17px
$FONT_SIZE: 9px

::-webkit-scrollbar
  width: 9px

::-webkit-scrollbar-button
  display: none

::-webkit-scrollbar-track-piece
  background-color: #111

::-webkit-scrollbar-thumb
  border-left: 2px #111 solid
  border-right: 2px #111 solid
  background-color: #333

  &:hover
    background-color: #555