$SIZE: 17px
$FONT_SIZE: 9px

fieldset
  border: none
  outline: none

::-webkit-scrollbar
  width: 9px
  height: 9px

::-webkit-scrollbar-button
  display: none

::-webkit-scrollbar-track-piece
  background-color: #111

::-webkit-scrollbar-thumb
  border: 1px #111 solid
  background-color: #333

  &:hover
    background-color: #555