$SIZE: 17px
$FONT_SIZE: 9px

::-webkit-scrollbar
  width: 11px

::-webkit-scrollbar-button
  display: none

::-webkit-scrollbar-track-piece
  background-color: #111

::-webkit-scrollbar-thumb
  border-left: 5px #111 solid
  border-right: 5px #111 solid
  background-color: #666
  border-radius: 1px

  &:hover
    background-color: #AAA