@import common
@import input
@import menu
@import fonts

html, body
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  color: white
  background-color: black
  font-family: $FONT-FAMILY
  font-size: $FONT_SIZE
  overflow-x: hidden

*
  user-select: none

.hidden
  display: none

button.error
  left: 16px
  bottom: 32px
  background: transparent
  position: absolute

body
  display: flex
  flex-direction: row
  margin: 1px 0 0 0

  .side
    flex: 1
    background-color: #1A1A1A

  .center
    margin: 0 1px
    height: 100%
    display: flex
    flex-direction: column

    > .top
      flex: 1 0 0
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-between
      background-color: #1A1A1A

      #meter
        display: flex
        margin: 0 8px
        padding: 3px
        border-radius: 3px
        background-color: rgba(black, 0.1)
        box-shadow: 0 0 1px 0 rgba(black, 0.6)

  main
    display: flex
    flex-direction: column
    width: 100%
    height: 100%

    h5
      margin: 0
      padding: 4px 6px
      border-radius: 1px
      color: lighten(#111, 20%)
      text-transform: uppercase
      font-size: $FONT_SIZE
      background-color: #111

    > .global-editor
      flex: 0 0 auto
      margin: 1px 0 0 0
      padding: 20px 12px 16px 16px
      background-color: #1A1A1A

      > .columns
        display: flex
        flex-direction: row
        column-gap: 16px

        > .column
          display: flex
          flex-direction: column
          background-color: #1A1A1A
          row-gap: 8px

    > form.track-nav
      margin-top: 1px
      flex: 0 0 auto
      padding: 16px 8px
      display: flex
      min-height: 48px
      column-gap: 2px
      row-gap: 20px
      align-items: center
      border: none
      outline: none
      background-color: #1A1A1A

      > span
        opacity: 0.2
        margin-left: 16px
        white-space: nowrap

      button#unshift-new-track
        margin-top: 16px
        align-self: flex-start

      > #track-selectors
        display: flex
        flex-wrap: wrap
        column-gap: 2px
        row-gap: 20px

        > article
          display: grid
          align-items: center
          grid-template-columns: 48px $SIZE

          > footer
            margin-top: 3px
            display: flex
            justify-content: space-between

            > label
              display: flex
              color: #666
              background-color: #0A0A0A
              font-size: $FONT_SIZE
              border-radius: 2px
              overflow: hidden

              & input[type=checkbox]:checked + span
                color: orange

              > span
                width: $SIZE
                height: $SIZE
                line-height: $SIZE
                text-align: center

          > label.radio.big
            position: relative
            cursor: pointer
            display: grid

            > canvas
              top: 0
              left: 0
              width: 48px
              height: 48px
              border-radius: 3px
              background-color: #0A0A0A
              box-sizing: border-box

            > input[type=radio]
              display: none
              appearance: none

              &:checked + canvas
                box-shadow: 0 0 1px 1px white inset

              &:not(:checked):hover + canvas
                box-shadow: 0 0 1px 1px #888 inset

      > button.delete
        padding: 1px
        margin: 0 0 0 32px

    > .editing
      flex: 1 0 0
      display: flex

      > .v-split
        margin: 1px 0 0 0
        display: flex
        flex-direction: column
        padding: 16px
        background-color: #1A1A1A

        > .structure
          display: flex
          padding: 16px 0
          flex-direction: row

        > .track-editor
          margin: 16px 0 0 0
          display: grid
          grid-template-columns: min-content min-content min-content
          column-gap: 16px
          border-radius: 2px
          min-height: 208px

          &[data-motion="linear"] [data-group="motion"]:not([data-injective="linear"]),
          &[data-motion="pow"] [data-group="motion"]:not([data-injective="pow"]),
          &[data-motion="cshape"] [data-group="motion"]:not([data-injective="cshape"]),
          &[data-motion="tshape"] [data-group="motion"]:not([data-injective="tshape"]),
          &[data-motion="smoothstep"] [data-group="motion"]:not([data-injective="smoothstep"])
            display: none

          &[data-bend="linear"] [data-group="bend"]:not([data-injective="linear"]),
          &[data-bend="pow"] [data-group="bend"]:not([data-injective="pow"]),
          &[data-bend="cshape"] [data-group="bend"]:not([data-injective="cshape"]),
          &[data-bend="tshape"] [data-group="bend"]:not([data-injective="tshape"]),
          &[data-bend="smoothstep"] [data-group="bend"]:not([data-injective="smoothstep"])
            display: none

          //> .actions
          //  display: flex

        > .sound
          flex: 1 0 0
          margin: 1px 0 0 0
          padding: 16px
          background-color: #1A1A1A

      > .preview
        margin: 1px 0 0 1px
        padding: 32px
        flex: 1
        display: flex
        gap: 32px
        position: relative
        background-color: #222

        .rotary
          padding: 32px
          position: relative
          background-color: #040404
          box-shadow: 0 8px 8px 0 rgba(black, 0.4)
          height: min-content
          min-width: 480px
          min-height: 480px
          display: flex

          canvas
            margin: auto

          div.top-overlay
            top: 4px
            left: 8px
            width: calc(100% - 16px)
            display: flex
            position: absolute
            align-items: center
            column-gap: 8px

            > button.rewind
              padding: 2px

              &:hover > svg
                fill: rgba(white, 0.6)

              > svg
                width: 14px
                height: 14px
                fill: rgba(white, 0.2)

            > div.spacer
              flex: 1

            svg
              background-color: transparent

            label
              color: #AAA
              white-space: nowrap

              &.transport
                cursor: pointer

              &:after
                opacity: 0.6
                content: attr(data-unit)

div.two-columns
  display: grid
  align-items: center
  grid-template-columns: minmax(48px, 1fr) 76px
  row-gap: 3px
  column-gap: 6px
  line-height: $SIZE
  height: min-content

  > *
    height: $SIZE
    overflow: hidden
    border-radius: 2px

  > .empty
    grid-column: 1 / 3

  label
    white-space: nowrap
    color: rgba(white, 0.3)
    text-align: right

    &.name
      padding-right: 4px

    &.bold
      font-weight: 700

  fieldset.stepper
    display: grid
    grid-template-columns: $SIZE 40px $SIZE
    column-gap: 1px
    font-size: $FONT_SIZE
    outline: none
    border: none
    padding: 0
    margin: 0

    > button
      color: rgba(white, 0.2)
      font-size: 7px
      font-family: $FONT-FAMILY
      width: $SIZE
      height: $SIZE
      text-align: center
      appearance: none
      border-radius: 0
      padding: 0
      border: none

      &:hover
        color: rgba(white, 0.6)

      &:active
        color: rgba(white, 1.0)