::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track-piece {
  background-color: #111;
}

::-webkit-scrollbar-thumb {
  border-left: 5px #111 solid;
  border-right: 5px #111 solid;
  background-color: #666;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #AAA;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track-piece {
  background-color: #111;
}

::-webkit-scrollbar-thumb {
  border-left: 5px #111 solid;
  border-right: 5px #111 solid;
  background-color: #666;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #AAA;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/ibm-plex-sans-v9-latin-regular.woff2") format("woff2"), url("../fonts/ibm-plex-sans-v9-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/ibm-plex-sans-v9-latin-700.woff2") format("woff2"), url("../fonts/ibm-plex-sans-v9-latin-700.woff") format("woff");
}
button {
  color: rgba(255, 255, 255, 0.4);
  font-size: 8px;
  font-family: "IBM Plex Sans", sans-serif;
  height: 19px;
  line-height: 19px;
  min-width: 19px;
  border-radius: 2px;
  text-align: center;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
button:hover {
  color: rgba(255, 255, 255, 0.6);
}
button:active {
  color: white;
}
button:disabled {
  opacity: 0.3;
}

label.checkbox {
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  white-space: nowrap;
  appearance: none;
  margin: 0;
  padding: 0;
  max-height: 15px;
  width: 32px;
  border-radius: 19px !important;
  position: relative;
}
label.checkbox span {
  top: 3px;
  left: 3px;
  right: unset;
  width: 9px;
  height: 9px;
  border-radius: 11px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
}
label.checkbox input[type=checkbox] {
  appearance: none;
  display: none;
}
label.checkbox input[type=checkbox]:checked + span {
  left: unset;
  right: 3px;
}

label.radio.big {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
label.radio.big > span {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 2.25em;
  position: absolute;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
}
label.radio.big > input[type=radio] {
  display: none;
  appearance: none;
}
label.radio.big > input[type=radio]:checked + span {
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
}

fieldset:disabled * {
  opacity: 0.3;
}

input[type=text] {
  height: 19px;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: "IBM Plex Sans", sans-serif;
}
input[type=text]:focus {
  box-shadow: 0 0 0 1px rgba(39, 107, 174, 0.6) inset;
}
input[type=text]::selection {
  background-color: #276bae;
}

select {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  appearance: none;
}

@keyframes menu-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.98;
  }
}
@keyframes menu-item-trigger {
  0% {
    color: #606057;
    background-color: #606057;
  }
  50%, 100% {
    color: #333333;
    background-color: white;
  }
}
nav#app-menu {
  display: flex;
  background-color: rgba(255, 255, 255, 0.08);
  margin: 0;
  padding: 0 8px;
}
nav#app-menu > button {
  width: auto;
  height: auto;
  color: white;
  padding: 8px 12px;
  font-size: 11px;
  background: transparent;
  border-radius: 0;
  font-weight: bold;
}
nav#app-menu > button.selected {
  color: black;
  background-color: white;
}

div.menu-layer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
}

nav.menu {
  position: absolute;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #606057;
  background-color: #e7e7e4;
  border-radius: 3px;
  overflow: hidden;
  opacity: 0;
  min-width: 128px;
  max-height: 100%;
  padding: 8px 0;
  animation-name: menu-fade-in;
  animation-duration: 101ms;
  animation-fill-mode: forwards;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  pointer-events: all;
}
nav.menu.docked {
  padding: 6px 0 8px 0;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.1) inset;
}
nav.menu.shutdown {
  pointer-events: none;
}
nav.menu.overflowing div.scroll {
  display: flex;
}
nav.menu > div.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
nav.menu > div.container > div.default {
  flex: 1 0 24px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  opacity: 0.3;
  pointer-events: none;
  white-space: nowrap;
}
nav.menu > div.container > div.default.selected {
  color: white;
  background-color: #606057;
}
nav.menu > div.container > div.default.triggered {
  animation-name: menu-item-trigger;
  animation-iteration-count: 2;
  animation-duration: 100ms;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}
nav.menu > div.container > div.default > svg.check-icon, nav.menu > div.container > div.default svg.children-icon {
  pointer-events: none;
  fill: currentColor;
  width: 12px;
  height: 12px;
}
nav.menu > div.container > div.default > svg.check-icon {
  visibility: hidden;
}
nav.menu > div.container > div.default > svg.children-icon {
  display: none;
}
nav.menu > div.container > div.default.checked > svg.check-icon {
  visibility: visible;
}
nav.menu > div.container > div.default.has-children > svg.children-icon {
  display: block;
}
nav.menu > div.container > div.default.selectable {
  opacity: 1;
  pointer-events: inherit;
}
nav.menu > div.container > div.default > span.label {
  pointer-events: none;
  flex: 1;
  padding: 0 20px 0 4px;
}
nav.menu > div.container > div.default > span.shortcut {
  pointer-events: none;
  margin: 0;
}
nav.menu > div.container > hr {
  width: 100%;
  height: 0;
  border: 0;
  border-top: 1px solid #e9e9e7;
  pointer-events: none;
}
nav.menu > div.scroll {
  display: none;
  justify-content: center;
  flex: 1 0 20px;
  line-height: 22px;
  margin: 4px 0;
  width: 100%;
  color: #666;
}
nav.menu > div.scroll.up {
  margin-top: -3px;
}
nav.menu > div.scroll.down {
  margin-bottom: -3px;
}
nav.menu > div.scroll.scrolling {
  color: #DDD;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/ibm-plex-sans-v9-latin-regular.woff2") format("woff2"), url("../fonts/ibm-plex-sans-v9-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/ibm-plex-sans-v9-latin-700.woff2") format("woff2"), url("../fonts/ibm-plex-sans-v9-latin-700.woff") format("woff");
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  font-size: 11px;
  font-family: "IBM Plex Sans", sans-serif;
}

* {
  user-select: none;
}

body {
  display: flex !important;
  flex-direction: column;
}
body main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
body main > form.track-nav {
  flex: 0 0 auto;
  padding: 16px 8px;
  display: flex;
  column-gap: 2px;
  align-items: center;
  border: none;
  outline: none;
  background-color: #1A1A1A;
}
body main > form.track-nav > #track-selectors {
  display: flex;
  column-gap: 2px;
}
body main > form.track-nav > #track-selectors > article {
  display: flex;
  align-items: center;
}
body main > form.track-nav > button.delete {
  padding: 1px;
  margin: 0 0 0 32px;
}
body main > .global-editor {
  flex: 0 0 auto;
  padding: 0 12px 16px 12px;
  background-color: #1A1A1A;
}
body main > .editing {
  margin: 1px 0 0 0;
  flex: 1 0 0;
  display: flex;
}
body main > .editing > .columns {
  display: flex;
  flex-direction: row;
  padding: 16px;
  background-color: #1A1A1A;
}
body main > .editing > .columns > .track-editor {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  column-gap: 32px;
  border-radius: 2px;
}
body main > .editing > .columns > .track-editor[data-motion=linear] [data-exclude=motion]:not([data-motion=linear]), body main > .editing > .columns > .track-editor[data-motion=pow] [data-exclude=motion]:not([data-motion=pow]), body main > .editing > .columns > .track-editor[data-motion=cshape] [data-exclude=motion]:not([data-motion=cshape]), body main > .editing > .columns > .track-editor[data-motion=smoothstep] [data-exclude=motion]:not([data-motion=smoothstep]) {
  display: none;
}
body main > .editing > .actions {
  display: flex;
}
body main > .editing > .preview {
  margin: 0 0 0 1px;
  flex: 1;
  display: flex;
  position: relative;
  background-color: #222;
}
body main > .editing > .preview .rotary {
  margin: 6%;
  padding: 64px;
  position: relative;
  background-color: black;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4);
  height: min-content;
}
body main > .editing > .preview .rotary svg {
  top: 0;
  right: 0;
  position: absolute;
}
body main > .editing > .preview .rotary label.size {
  top: 8px;
  left: 8px;
  color: #AAA;
  white-space: nowrap;
  position: absolute;
}
body main > .editing > .preview .rotary label.size:after {
  opacity: 0.6;
  content: "px";
}

div.two-columns {
  display: grid;
  align-items: center;
  grid-template-columns: 64px min-content;
  row-gap: 6px;
  column-gap: 8px;
  line-height: 19px;
  height: min-content;
}
div.two-columns > * {
  height: 19px;
  overflow: hidden;
  border-radius: 2px;
}
div.two-columns > .empty {
  grid-column: 1/3;
}
div.two-columns label {
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.3);
  text-align: right;
}
div.two-columns label.name {
  padding-right: 4px;
}
div.two-columns fieldset.stepper {
  display: grid;
  grid-template-columns: 19px auto 19px;
  column-gap: 1px;
  font-size: 10px;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
div.two-columns fieldset.stepper > button {
  color: rgba(255, 255, 255, 0.2);
  font-size: 8px;
  font-family: "IBM Plex Sans", sans-serif;
  height: 19px;
  text-align: center;
  appearance: none;
  border-radius: 0;
  padding: 0;
  border: none;
}
div.two-columns fieldset.stepper > button:hover {
  color: rgba(255, 255, 255, 0.6);
}
div.two-columns fieldset.stepper > button:active {
  color: white;
}
div.two-columns fieldset.stepper > input[type=text] {
  width: 64px;
}
div.two-columns select {
  grid-column: 2/3;
}

/*# sourceMappingURL=main.css.map */
