html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  font-size: 11px;
  font-family: "Titillium Web", sans-serif;
}

button {
  color: rgba(255, 255, 255, 0.4);
  font-size: 8px;
  font-family: "Titillium Web", sans-serif;
  height: 19px;
  line-height: 19px;
  min-width: 19px;
  border-radius: 2px;
  text-align: center;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
button:hover {
  color: rgba(255, 255, 255, 0.6);
}
button:active {
  color: white;
}
button:disabled {
  opacity: 0.3;
}

fieldset:disabled * {
  opacity: 0.3;
}

body {
  display: flex;
  position: relative;
}
body .editor {
  flex: 1;
  display: flex;
}
body .editor .preview {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .editor .preview .rotary {
  padding: 64px;
  border: 1px rgba(255, 255, 255, 0.1) dashed;
  position: relative;
}
body .editor .preview .rotary label.size {
  left: 0;
  bottom: -20px;
  white-space: nowrap;
  position: absolute;
}
body .editor .preview .rotary label.size:before {
  content: "size: ";
}
body .editor .preview .rotary label.size:after {
  opacity: 0.6;
  content: "px";
}
body .editor .properties {
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px 16px;
  background-color: rgba(255, 255, 255, 0.08);
}
body .editor .properties div.tracks {
  display: flex;
  flex-direction: column;
  grid-row-gap: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1 0 0;
}
body .editor .properties div.tracks section.track {
  display: flex;
  flex-direction: column;
}
body .editor .properties div.tracks section.track > div.properties {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  column-gap: 19px;
  border-left: 4px rgba(255, 255, 255, 0.04) solid;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 2px;
  padding: 4px 8px;
  height: min-content;
}
body .editor .properties div.tracks section.track > div.properties > div.actions {
  display: flex;
  flex-direction: column;
  justify-self: end;
}
body .editor .properties div.tracks section.track > div.properties > div.actions > div.spacer {
  flex: 1 0 0;
}
body .editor .properties div.tracks section.track > div.create {
  margin: 4px auto 0 auto;
  display: flex;
  column-gap: 4px;
}
body .editor .properties div.tracks section.track > div.create button {
  width: 32px;
}

div.two-columns {
  display: grid;
  align-items: center;
  grid-template-columns: min-content min-content;
  row-gap: 1px;
  column-gap: 3px;
  line-height: 19px;
  height: min-content;
}
div.two-columns > * {
  height: 19px;
  overflow: hidden;
  border-radius: 4px;
}
div.two-columns > .empty {
  grid-column: 1/3;
}
div.two-columns > label {
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.4);
}
div.two-columns > label.name {
  padding-right: 4px;
}
div.two-columns > fieldset.stepper {
  display: grid;
  grid-template-columns: 19px auto 19px;
  column-gap: 1px;
  font-size: 10px;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
div.two-columns > fieldset.stepper > button {
  color: rgba(255, 255, 255, 0.2);
  font-size: 8px;
  font-family: "Titillium Web", sans-serif;
  height: 19px;
  text-align: center;
  appearance: none;
  border-radius: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
}
div.two-columns > fieldset.stepper > button:hover {
  color: rgba(255, 255, 255, 0.6);
}
div.two-columns > fieldset.stepper > button:active {
  color: white;
}
div.two-columns > fieldset.stepper > input[type=text] {
  width: 64px;
  height: 19px;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: "Titillium Web", sans-serif;
}
div.two-columns > fieldset.stepper > input[type=text]:focus {
  box-shadow: 0 0 0 1px rgba(39, 107, 174, 0.6) inset;
}
div.two-columns > fieldset.stepper > input[type=text]::selection {
  background-color: #276bae;
}
div.two-columns > input[type=checkbox] {
  font-size: 10px;
  color: aquamarine;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  white-space: nowrap;
  text-align: center;
  appearance: none;
  margin: 0;
  padding: 0;
  width: 19px;
}
div.two-columns > input[type=checkbox]:checked {
  background-color: rgba(255, 255, 255, 0.7);
}
div.two-columns > select {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  appearance: none;
  grid-column: 2/3;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track-piece {
  background-color: #111;
}

::-webkit-scrollbar-thumb {
  border-left: 5px #111 solid;
  border-right: 5px #111 solid;
  background-color: #666;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #AAA;
}

/*# sourceMappingURL=main.css.map */
